<h1><%= 'Login' %> </h1>

<% if @user_session.errors.has_key? :base %>
  <div id="error_explanation">
    <%= @user_session.errors[:base].join(', ') %>
  </div>
<% end %>

<%= form_for @user_session do |f| %>
	<p>
		<%= f.label :nome %>
		<%= f.text_field :nome %>
	</p>
	<p>
		<%= f.label :password %>

		<%= f.text_field :password %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>